{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>বাংলা ইশারা ভাষার সংকেত</title>
</head>

<style>
    body {
        background-color: rgb(149, 185, 199);
    }

    table {
        width: 70%;
        background-color: white ;
        margin-left: 15%;
        margin-top: 5%;
        border: 2px solid black;
        border-radius: 10px;
    }

    img {
        margin-bottom: 15px;
        margin-top: 15px;
        width: 150px;
        height: 150px;
    }

    th {
        height: 50px;
        font-size: 18pt;
        font-weight: 800;
        border-bottom: 1px solid black;
    }

    td {
        font-size: 16pt;
        font-weight: 800;
        text-align: center;
        border-bottom: 1px solid black;
    }
</style>

<body>
    <div>
        <table>
            <thead>
                <th>ইশারা ভাষা</th>
                <th>ইশারা ভাষার সংকেত</th>
            </thead>
            <tbody>
                <tr>
                    <td>০</td>
                    <td><img alt="" src="{% static 'images\gray2022_10_02_22_35_IMG_2870.jpg' %}"></img></td>
                </tr>
                <tr>
                    <td>১</td>
                    <td><img alt="" src="{% static 'images\gray2022_10_02_14_32_IMG_0928.jpg' %}"></img></td>
                </tr>
                <tr>
                    <td>২</td>
                    <td><img alt="" src="{% static 'images\gray2022_10_02_14_34_IMG_1059.jpg' %}"></img></td>
                </tr>
                <tr>
                    <td>৩</td>
                    <td><img alt="" src="{% static 'images\gray2022_10_02_14_36_IMG_1190.jpg' %}"></img></td>
                </tr>
                <tr>
                    <td>৪</td>
                    <td><img alt="" src="{% static 'images\gray2022_10_02_14_38_IMG_1326.jpg' %}"></img></td>
                </tr>
                <tr>
                    <td>৫</td>
                    <td><img alt="" src="{% static 'images\gray2022_10_02_14_39_IMG_1418.jpg' %}"></img></td>
                </tr>
                <tr>
                    <td>৬</td>
                    <td><img alt="" src="{% static 'images\gray2022_10_02_14_42_IMG_1556.jpg' %}"></img></td>
                </tr>
                <tr>
                    <td>৭</td>
                    <td><img alt="" src="{% static 'images\gray2022_10_02_14_46_IMG_1748.jpg' %}"></img></td>
                </tr>
                <tr>
                    <td>৮</td>
                    <td><img alt="" src="{% static 'images\gray2022_10_02_14_47_IMG_1871.jpg' %}"></img></td>
                </tr>
                <tr>
                    <td>৯</td>
                    <td><img alt="" src="{% static 'images\gray2022_10_02_14_51_IMG_2026.jpg' %}"></img></td>
                </tr>
                <tr>
                    <td>টেলিফোন</td>
                    <td><img alt="" src="{% static 'images\gray2022_10_02_14_54_IMG_2329.jpg' %}"></img></td>
                </tr>
                <tr>
                    <td>ক্ষ্মা</td>
                    <td><img alt="" src="{% static 'images\gray2022_07_17_18_34_IMG_1009.jpg' %}"></img></td>
                </tr>
                <tr>
                    <td>নাম</td>
                    <td><img alt="" src="{% static 'images\gray2022_07_17_19_14_IMG_1338.jpg' %}"></img></td>
                </tr>
                <tr>
                    <td>বধির</td>
                    <td><img alt="" src="{% static 'images\gray2022_07_17_18_40_IMG_1197.jpg' %}"></img></td>
                </tr>
                <tr>
                    <td>বন্ধ</td>
                    <td><img alt="" src="{% static 'images\gray2022_07_17_19_16_IMG_1389.jpg' %}"></img></td>
                </tr>
                <tr>
                    <td>বয়স</td>
                    <td><img alt="" src="{% static 'images\gray2022_07_17_18_41_IMG_1223.jpg' %}"></img></td>
                </tr>
                <tr>
                    <td>মা</td>
                    <td><img alt="" src="{% static 'images\gray2022_07_17_18_39_IMG_1131.jpg' %}"></img></td>
                </tr>
                <tr>
                    <td>সমর্থন</td>
                    <td><img alt="" src="{% static 'images\gray2022_07_17_19_13_IMG_1299.jpg' %}"></img></td>
                </tr>
                <tr>
                    <td>সর্তক</td>
                    <td><img alt="" src="{% static 'images\gray2022_07_17_18_37_IMG_1075.jpg' %}"></img></td>
                </tr>
                <tr>
                    <td>সালাম</td>
                    <td><img alt="" src="{% static 'images\gray2022_07_17_18_35_IMG_1035.jpg' %}"></img></td>
                </tr>
            </tbody>


        </table>

    </div>

</body>

</html>